#translade-shadow-root-config {
  display: none;
}

[class*="translade-field-"] {
  position: relative;
}

[id*="translade-shadow-root-"] {
  margin-bottom: 2rem;
  margin-top: -1rem;
}

.translade-actions-wrapper {
  display: flex;
  width: fit-content;
  overflow: hidden;
  padding: 0.75rem 0.75rem;
  background-color: #141414;
  border-radius: 0.75rem;
  gap: 0.25rem;
  border: 1px solid #373737;
}

.translade-actions-wrapper a {
  display: flex;
  width: 32px;
  overflow: hidden;
  text-align: center;
  justify-content: center;
}

.translade-shadow-data {
  display: none;
}

.action-hide {
  display: none !important;
}

.loader {
  scale: 0.5;
  width: 3.8px;
  height: 2.8px;
  display: block;
  margin: 15px auto;
  position: relative;
  border-radius: 4px;
  color: #a1a1a1;
  background: currentColor;
  box-sizing: border-box;
  animation: animloader 0.3s 0.3s linear infinite alternate;
}
.loader::after,
.loader::before {
  content: "";
  box-sizing: border-box;
  width: 3.8px;
  height: 2.8px;
  border-radius: 4px;
  background: currentColor;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 15px;
  animation: animloader 0.3s 0.45s linear infinite alternate;
}
.loader::after {
  top: -15px;
  animation-delay: 0s;
}

@keyframes animloader {
  0% {
    width: 4.8px;
  }
  100% {
    width: 48px;
  }
}

select.translade-languageTo,
select.translade-contentAIAction {
  background-color: #141414;
  padding: 0.5rem 1.25rem;
  padding-left: 16px;
  color: #a1a1a1;
  font-size: 0.75rem;
  box-shadow: none;
  width: 170px;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url("/modules/translade/icons/dropdown.svg");
  background-size: 16px;
  padding-right: 30px;
  background-repeat: no-repeat;
  background-position: right 12px center;
  border: 1px solid #373737;
  height: 34.5px;
  border-radius: 0.5rem;
}

select.translade-languageTo:hover,
select.translade-contentAIAction:hover {
  cursor: pointer;
}

select.translade-languageTo:focus,
select.translade-contentAIAction:focus {
  outline: none;
  box-shadow: none;
}

a.translade-action-trigger {
  height: 34.5px;
  width: 34.5px;
  display: flex;
  justify-content: center;
  align-content: center;
}

div.translade-action-trigger {
  position: relative;
}

a.translade-action-trigger img {
  width: 34.5px;
  height: auto;
}

a.translade-action-trigger.translate img {
  width: 22px;
  height: auto;
}

a.translade-action-trigger:hover {
  cursor: pointer;
  background-color: #1c1c1c;
  border-radius: 0.5rem;
}

label.translade-label {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 0.55rem;
  color: #a1a1a1;
  background-color: #141414;
  margin-top: -0.5rem;
  padding: 0 4px;
  margin: -0.45rem 4px 0 4px;
}

.translade-container {
  display: flex;
  flex-direction: row;
}

.translade-container .t-col {
  width: 50%;
}

@media screen and (max-width: 870px) {
  .translade-container {
    flex-direction: column;
  }
  .translade-container .t-col {
    width: 100%;
  }
}

/* Color options */
/* Dark mode */
.translade-actions-wrapper.dark {
  border-color: #373737;
  background-color: #141414;
}

.translade-actions-wrapper.dark .translade-label {
  color: #a1a1a1;
  background-color: #141414;
}

.translade-actions-wrapper.dark select.translade-languageTo,
.translade-actions-wrapper.dark select.translade-contentAIAction {
  color: #a1a1a1;
  background-color: #141414;
  border-color: #373737;
}

.translade-actions-wrapper.dark a.translade-action-trigger:hover {
  background-color: #1c1c1c;
}

/* Light mode */
.translade-actions-wrapper.light {
  border-color: #e5e5e5;
  background-color: #ffffff;
}

.translade-actions-wrapper.light .translade-label {
  color: #808080;
  background-color: #fff;
}

.translade-actions-wrapper.light select.translade-languageTo,
.translade-actions-wrapper.light select.translade-contentAIAction {
  color: #808080;
  background-color: #fff;
  border-color: #e5e5e5;
}

.translade-actions-wrapper.light a.translade-action-trigger:hover {
  background-color: #e5e5e5;
}
