.translade-success {
  display: flex;
  align-items: center;
  background-color: oklch(93.8% 0.127 124.321);
  padding: 0.5rem 1.25rem;
  color: #141414;
  font-size: 0.75rem;
  box-shadow: none;
  border: 1px solid oklch(84.1% 0.238 128.85);
  height: 34.5px;
  border-radius: 0.5rem;
}

.translade-success span {
  font-weight: bold;
}

.translade-error {
  display: flex;
  align-items: center;
  background-color: oklch(88.5% 0.062 18.334);
  padding: 0.5rem 1.25rem;
  color: #141414;
  font-size: 0.75rem;
  box-shadow: none;
  border: 1px solid oklch(70.4% 0.191 22.216);
  height: 34.5px;
  border-radius: 0.5rem;
}
